In [1]:
# importa, seta configuracao, le arquivo e tira colunas 'unnamed'
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df = pd.read_csv('Dados_filtragem_colunas_v2.csv')
df = df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1)

In [3]:
from datetime import date
def calculate_age(born, semesterDate):
    anoPeriodo = int(str(semesterDate)[:-1])
    numPeriodo = int(str(semesterDate)[-1:])
    
    
    data = (str(anoPeriodo) + '-07-01' if numPeriodo == 1 else anoPeriodo)
    data = (str(anoPeriodo) + '-12-01' if numPeriodo == 2 else data)
    data = (str(anoPeriodo) + '-02-01' if numPeriodo == 0 else data)
    
    semester = pd.to_datetime(data)
    born = pd.to_datetime(born)
    return semester.year - born.year - ((semester.month, semester.day) < (born.month, born.day))

In [4]:
df['idade'] = np.vectorize(calculate_age)(df['Data de Nascimento'], df['Ano e Semestre'])
df

,ID Aluno,Sexo,Data de Nascimento,Cotista,Período de Ingresso na Unb,Período de saída da opção,Ano e Semestre,Média do período,Créditos cursados no total,Créditos cursados no semestre(com aprovação),Código da disciplina,Créditos disciplina,Menção na disciplina,Curso_Ciência da Computação,Curso_Computação,Curso_Engenharia Mecatrônica,Curso_Engenharia de Computação,Curso_Engenharia de Redes de Comunicação,Curso_Engenharia de Software,Curso_Informática,Forma de saída da opção_Ativo,Forma de saída da opção_Deslig - não cumpriu condição,Forma de saída da opção_Desligamento - Abandono,Forma de saída da opção_Desligamento Decisão Judicial,Forma de saída da opção_Desligamento Falt Documentação,Forma de saída da opção_Desligamento Jubilamento,Forma de saída da opção_Desligamento Voluntário,Forma de saída da opção_Desligamento por Força de Intercãmbio,Forma de saída da opção_Desligamento-Força de Convênio,Forma de saída da opção_Falecimento,Forma de saída da opção_Formatura,Forma de saída da opção_Mudança de Curso,Forma de saída da opção_Mudança de Turno,Forma de saída da opção_Novo Vestibular,Forma de saída da opção_Outros,Forma de saída da opção_Repr 3 vezes na mesma disc obr,Forma de saída da opção_Transferência,Forma de saída da opção_Vestibular p/outra Habilitação,semestre,idade
0,100009,0,1984-05-10,0,20032,20091,20032,3.5,138,22,116301,6,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,19
1,100009,0,1984-05-10,0,20032,20091,20032,3.5,138,22,116793,4,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,19
2,100009,0,1984-05-10,0,20032,20091,20032,3.5,138,22,147389,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,19
3,100009,0,1984-05-10,0,20032,20091,20040,3.0,138,2,118010,2,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.5,19
4,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,125156,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
5,100009,0,1984-05-10,0,20032,20091,20042,3.2,138,18,117251,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2.0,20
6,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,116319,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
7,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,192562,4,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
8,100009,0,1984-05-10,0,20032,20091,20032,3.5,138,22,137481,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,19
9,100009,0,1984-05-10,0,20032,20091,20081,2.1,138,6,113042,6,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,9.0,24
10,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,142573,4,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
11,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,113034,6,2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
12,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,124010,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
13,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,191639,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
14,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,170054,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
15,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,194239,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
16,100009,0,1984-05-10,0,20032,20091,20032,3.5,138,22,145971,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.0,19
17,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,116416,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
18,100009,0,1984-05-10,0,20032,20091,20071,3.4,138,12,192015,4,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,7.0,23
19,100009,0,1984-05-10,0,20032,20091,20072,1.7,138,8,113042,6,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,8.0,23
20,100009,0,1984-05-10,0,20032,20091,20081,2.1,138,6,113107,4,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,9.0,24
21,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,116327,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
22,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,116068,6,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
23,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,116823,6,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
24,100009,0,1984-05-10,0,20032,20091,20040,3.0,138,2,118001,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0.5,19
25,100009,0,1984-05-10,0,20032,20091,20071,3.4,138,12,115045,6,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,7.0,23
26,100009,0,1984-05-10,0,20032,20091,20071,3.4,138,12,191019,4,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,7.0,23
27,100009,0,1984-05-10,0,20032,20091,20072,1.7,138,8,113107,6,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,8.0,23
28,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,113115,4,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
29,100009,0,1984-05-10,0,20032,20091,20082,3.5,138,20,182508,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,10.0,24
30,100009,0,1984-05-10,0,20032,20091,20091,4.0,138,28,194671,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,11.0,25
31,100009,0,1984-05-10,0,20032,20091,20042,3.2,138,18,113034,6,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2.0,20
32,100009,0,1984-05-10,0,20032,20091,20042,3.2,138,18,118001,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2.0,20
33,100009,0,1984-05-10,0,20032,20091,20070,4.0,138,4,194221,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,6.5,22
34,100009,0,1984-05-10,0,20032,20091,20072,1.7,138,8,116441,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,8.0,23
35,100009,0,1984-05-10,0,20032,20091,20081,2.1,138,6,115045,6,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,9.0,24
36,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,116726,2,5,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
37,100009,0,1984-05-10,0,20032,20091,20041,3.3,138,18,117234,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1.0,20
38,100009,0,1984-05-10,0,20032,20091,20042,3.2,138,18,116343,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2.0,20
39,100009,0,1984-05-10,0,20032,20091,20071,3.4,138,12,125172,4,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,7.0,23
40,100009,0,1984-05-10,0,20032,20091,20072,1.7,138,8,116424,4,3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,8.0,23
41,100030,0,1985-04-24,0,20032,20041,20032,0.0,0,0,113093,4,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,18
42,100030,0,1985-04-24,0,20032,20041,20032,0.0,0,0,113034,6,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,18
43,100030,0,1985-04-24,0,20032,20041,20032,0.0,0,0,118001,4,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,18
44,100030,0,1985-04-24,0,20032,20041,20032,0.0,0,0,167959,4,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,18
45,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,145971,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
46,100060,1,1983-12-31,0,20032,20081,20042,3.7,240,22,118044,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,20
47,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,113417,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
48,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,116424,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
49,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,116459,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
50,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,116661,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
51,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,153699,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
52,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,181013,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
53,100060,1,1983-12-31,0,20032,20081,20081,3.7,240,14,182508,4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,24
54,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,118001,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
55,100060,1,1983-12-31,0,20032,20081,20041,4.3,240,24,118036,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,20
56,100060,1,1983-12-31,0,20032,20081,20042,3.7,240,22,137481,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,20
57,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,116416,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
58,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,116441,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
59,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,117196,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
60,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,124575,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
61,100060,1,1983-12-31,0,20032,20081,20081,3.7,240,14,116629,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,24
62,100060,1,1983-12-31,0,20032,20081,20052,4.0,240,24,113115,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,21
63,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,116432,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
64,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,132012,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
65,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,113034,6,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
66,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,140481,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
67,100060,1,1983-12-31,0,20032,20081,20041,4.3,240,24,116319,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,20
68,100060,1,1983-12-31,0,20032,20081,20041,4.3,240,24,118028,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,20
69,100060,1,1983-12-31,0,20032,20081,20042,3.7,240,22,113956,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,20
70,100060,1,1983-12-31,0,20032,20081,20042,3.7,240,22,118052,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,20
71,100060,1,1983-12-31,0,20032,20081,20052,4.0,240,24,113107,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,21
72,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,113930,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
73,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,124010,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
74,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,142573,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
75,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,191027,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
76,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,116301,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
77,100060,1,1983-12-31,0,20032,20081,20041,4.3,240,24,113042,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,20
78,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,113301,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
79,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,116734,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
80,100060,1,1983-12-31,0,20032,20081,20081,3.7,240,14,116921,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,24
81,100060,1,1983-12-31,0,20032,20081,20081,3.7,240,14,177318,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,24
82,100060,1,1983-12-31,0,20032,20081,20041,4.3,240,24,115045,6,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,20
83,100060,1,1983-12-31,0,20032,20081,20042,3.7,240,22,113051,6,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,20
84,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,116327,4,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
85,100060,1,1983-12-31,0,20032,20081,20052,4.0,240,24,116378,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,21
86,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,113859,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
87,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,116351,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
88,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,137553,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
89,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,134465,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
90,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,173215,4,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
91,100060,1,1983-12-31,0,20032,20081,20072,4.5,240,26,116912,2,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,23
92,100060,1,1983-12-31,0,20032,20081,20081,3.7,240,14,175021,2,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,24
93,100060,1,1983-12-31,0,20032,20081,20032,4.5,240,26,118010,2,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,19
94,100060,1,1983-12-31,0,20032,20081,20051,4.1,240,28,113123,6,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,21
95,100060,1,1983-12-31,0,20032,20081,20052,4.0,240,24,116343,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,21
96,100060,1,1983-12-31,0,20032,20081,20052,4.0,240,24,116394,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,21
97,100060,1,1983-12-31,0,20032,20081,20061,3.8,240,26,116882,6,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,22
98,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,116467,6,3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
99,100060,1,1983-12-31,0,20032,20081,20062,4.0,240,26,175013,2,5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,22
100,100060,1,1983-12-31,0,20032,20081,20071,4.7,240,24,199443,4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,23
101,100066,0,1985-03-29,0,20032,20081,20041,3.8,282,30,113093,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,19
102,100066,0,1985-03-29,0,20032,20081,20041,3.8,282,30,115045,6,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,19
103,100066,0,1985-03-29,0,20032,20081,20042,3.3,282,30,116319,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,19
104,100066,0,1985-03-29,0,20032,20081,20042,3.3,282,30,118044,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,19
105,100066,0,1985-03-29,0,20032,20081,20052,4.1,282,30,163627,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,20
106,100066,0,1985-03-29,0,20032,20081,20052,4.1,282,30,168831,3,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,20
107,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,175013,2,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
108,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,116599,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
109,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,168823,2,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
110,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,181013,4,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
111,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,168891,2,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18
112,100066,0,1985-03-29,0,20032,20081,20041,3.8,282,30,113042,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,19
113,100066,0,1985-03-29,0,20032,20081,20041,3.8,282,30,118028,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,19
114,100066,0,1985-03-29,0,20032,20081,20052,4.1,282,30,167941,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,20
115,100066,0,1985-03-29,0,20032,20081,20061,3.0,282,33,160041,6,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,21
116,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,168238,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
117,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,118061,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
118,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,167681,2,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
119,100066,0,1985-03-29,0,20032,20081,20081,4.1,282,19,134465,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,23
120,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,113034,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18
121,100066,0,1985-03-29,0,20032,20081,20052,4.1,282,30,170054,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,20
122,100066,0,1985-03-29,0,20032,20081,20061,3.0,282,33,168742,3,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,21
123,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,116424,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
124,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,116432,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
125,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,168734,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
126,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,117242,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
127,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,168882,4,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
128,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,168921,2,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
129,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,167673,12,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
130,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,114014,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18
131,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,116301,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18
132,100066,0,1985-03-29,0,20032,20081,20042,3.3,282,30,113051,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,19
133,100066,0,1985-03-29,0,20032,20081,20051,3.4,282,26,168777,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,20
134,100066,0,1985-03-29,0,20032,20081,20051,3.4,282,26,169510,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,20
135,100066,0,1985-03-29,0,20032,20081,20061,3.0,282,33,164399,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,21
136,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,168912,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
137,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,164887,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
138,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,167690,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
139,100066,0,1985-03-29,0,20032,20081,20081,4.1,282,19,199371,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,9.0,23
140,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,118010,2,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18
141,100066,0,1985-03-29,0,20032,20081,20051,3.4,282,26,113069,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,20
142,100066,0,1985-03-29,0,20032,20081,20061,3.0,282,33,167991,6,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,21
143,100066,0,1985-03-29,0,20032,20081,20041,3.8,282,30,168874,6,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1.0,19
144,100066,0,1985-03-29,0,20032,20081,20042,3.3,282,30,117218,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2.0,19
145,100066,0,1985-03-29,0,20032,20081,20051,3.4,282,26,167011,6,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,3.0,20
146,100066,0,1985-03-29,0,20032,20081,20052,4.1,282,30,168840,4,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,4.0,20
147,100066,0,1985-03-29,0,20032,20081,20061,3.0,282,33,116394,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,5.0,21
148,100066,0,1985-03-29,0,20032,20081,20062,3.9,282,32,181315,4,5,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,6.0,21
149,100066,0,1985-03-29,0,20032,20081,20071,3.9,282,32,122408,2,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0,22
150,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,113522,6,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
151,100066,0,1985-03-29,0,20032,20081,20072,3.6,282,20,132012,4,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,8.0,22
152,100066,0,1985-03-29,0,20032,20081,20032,4.0,282,26,118001,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0.0,18

In [5]:
df.to_csv("dados_filtrados_v3.csv")