In [1]:
import pandas as pd
import numpy as np
from matplotlib.ticker import FuncFormatter
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from sklearn import preprocessing

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df = pd.read_csv('dados_filtrados_v4.csv')

In [2]:
a = df[df['Cotista'] == 1]
df['ID Aluno'].unique().size

7683

In [6]:
a['ID Aluno'].unique().size

1067

In [7]:
a.to_csv("dados_filtrados_v4_cotistas.csv", index=False)

In [10]:
df = pd.read_csv('df_output.csv')

In [39]:
a = df[df['Cotista'] == 'Sim']
# a = a[a['Raça'] == 'Não informado']
# a = a[a['Tipo de Escola'] == 'Não Informada']

In [36]:
a['ID Aluno'].unique().size

294

In [42]:
b = pd.read_csv('dados_filtrados_v4_cotistas.csv')

In [41]:
b

       ID Aluno  Sexo Data de Nascimento  Cotista  Período de Ingresso na Unb  Período de saída da opção  Ano e Semestre  Média do período  Créditos cursados no total  Créditos cursados no semestre(com aprovação)  Código da disciplina  Créditos disciplina  Menção na disciplina  Curso_Ciência da Computação                                                   Curso_Computação                                                              Curso_Engenharia Mecatrônica                                                  Curso_Engenharia de Computação                                                Curso_Engenharia de Redes de Comunicação                                      Curso_Engenharia de Software                                                  Curso_Informática                                                             Forma de saída da opção_Ativo  Forma de saída da opção_Formatura                       semestre  idade  saiu         escola
0        104476     1        1973-09-26         1                       20041                      20042           20041               0.0                           0                                             0                113034                    6                     0                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     30     1            NaN
1        104476     1        1973-09-26         1                       20041                      20042           20041               0.0                           0                                             0                116301                    6                     0                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     30     1            NaN
2        104476     1        1973-09-26         1                       20041                      20042           20041               0.0                           0                                             0                118001                    4                     0                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     30     1            NaN
3        104476     1        1973-09-26         1                       20041                      20042           20041               0.0                           0                                             0                118010                    2                     0                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     30     1            NaN
4        106294     0        1986-05-15         1                       20042                      20052           20042               2.9                          14                                            10                116301                    6                     2                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     18     1            NaN
5        106294     0        1986-05-15         1                       20042                      20052           20052               1.1                          14                                             4                139581                    4                     0                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            2.0     19     1            NaN
6        106294     0        1986-05-15         1                       20042                      20052           20052               1.1                          14                                             4                124028                    6                     0                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            2.0     19     1            NaN
7        106294     0        1986-05-15         1                       20042                      20052           20052               1.1                          14                                             4                170054                    4                     4                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            2.0     19     1            NaN
8        106294     0        1986-05-15         1                       20042                      20052           20042               2.9                          14                                            10                140481                    4                     4                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     18     1            NaN
9        106294     0        1986-05-15         1                       20042                      20052           20052               1.1                          14                                             4                132012                    4                     0                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            2.0     19     1            NaN
10       106294     0        1986-05-15         1                       20042                      20052           20042               2.9                          14                                            10                113034                    6                     3                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     18     1            NaN
11       106294     0        1986-05-15         1                       20042                      20052           20052               1.1                          14                                             4                124575                    6                     0                                                  1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            2.0     19     1            NaN
12       106503     0        1977-04-12         1                       20042                      20091           20042               2.9                         250                                            20                113107                    6                     1                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     27     1            NaN
13       106503     0        1977-04-12         1                       20042                      20091           20051               3.0                         250                                            22                116785                    4                     1                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            1.0     28     1            NaN
14       106503     0        1977-04-12         1                       20042                      20091           20081               2.0                         250                                             8                116378                    4                     4                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            7.0     31     1            NaN
15       106503     0        1977-04-12         1                       20042                      20091           20082               0.6                         250                                             0                116891                    2                     1                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            8.0     31     1            NaN
16       106503     0        1977-04-12         1                       20042                      20091           20042               2.9                         250                                            20                116319                    4                     5                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            0.0     27     1            NaN
17       106503     0        1977-04-12         1                       20042                      20091           20081               2.0                         250                                             8                117285                    4                     1                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            7.0     31     1            NaN
18       106503     0        1977-04-12         1                       20042                      20091           20081               2.0                         250                                             8                116441                    4                     4                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            7.0     31     1            NaN
19       106503     0        1977-04-12         1                       20042                      20091           20082               0.6                         250                                             0                117285                    4                     0                                                  0                                                                             1                                                                             0                                                                             0                                                                             0                                                                             0                                                                             0                                                         0                                                  0            8.0     31     1            NaN